.bg-gradient-custom {
    background: linear-gradient(87deg, #328cc1 0, #0b3c5d 100%) !important;
}

.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(150deg, #7795f8 15%,  #328cc1 70%, #0b3c5d 94%) !important;
}

.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(150deg, #7795f8 15%,  #328cc1 70%, #0b3c5d 94%) !important;
}
.section-shaped .shape-style-1.shape_background{
    background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

.img-sobre-nos {
    margin-top: 30px;
    width: 320px;
}

.btn-primary {
    border-color: #328cc1 !important;
    background-color: #328cc1 !important;
}

a {
    color: #328cc1 !important;
}

a :hover {
    color: #0b3c5d !important;
}
.navbar-brand img {
    height: 65px !important;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    color: #fff;
    background-color: #0b3c5d !important;
}



.nav-link-inner--text{
    color: rgba(255, 255, 255, .95) !important;
}
.btn-primary{
    color: #fff !important;
}

.SingleDatePicker {
    position: relative;
    display: inline-block;
    margin-top: -12px;
}
.SingleDatePickerInput {
    background-color: #fff;
    border: none !important;
    height: 42px !important;
    width: 100% !important;
     
}

.DateInput .DateInput--with-caret .DateInput--open-down{
width: 120% !important;
}
.DateInput {
    width: 120% !important;
}

@media (min-width: 1200px){
    .mr-15-custom{
        margin-left: 15%;
    }
}

.react-datepicker__input-container > input{
    border:none !important; 
}