.bg-gradient-default {
    background: linear-gradient(87deg, #328cc1 0, #0b3c5d 100%) !important;
}
.btn-primary {
    border-color: #328cc1 !important;
    background-color: #328cc1 !important;
}

a {
    color: #328cc1 !important;
}

a :hover {
    color: #0b3c5d !important;
}